@import "tailwindcss";

body {
  scroll-behavior: smooth;
}

.font1 {
  font-family: "Instrument Serif", serif !important;
}

.font2 {
  font-family: "Poppins", sans-serif;

}
.one_wrap{
  justify-content: start;
}
.circle {
  position: absolute;
  border-radius: 50%;
  width: 0px;
  height: 2px;
}
.right_sec_about{
  flex-shrink: 0;
}
.circle1 {
      background-color: #ff7e5fa3;
    left: -12%;
    box-shadow: 8px 17px 316px 267px #ff3d0da3;
    top: 16%;
}

.circle2 {
 right: -7%;
    background-color: #153bf8;
    box-shadow: 0px 0px 1137px 206px #153bf8;
    top: 90%;
    opacity: 0.6;

}

.orb-container {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.squares-canvas {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.smooth {

  transition: transform 10s ease-in-out 0s;
}

.smooth .myntra:hover {
  position: relative;
  transform: translateY(-68%);
  transition: transform 10s ease-in-out 0s;
}

.smooth .kalam:hover {
  position: relative;
  transform: translateY(-83%);
  transition: transform 10s ease-in-out 0s;
}

.smooth .robot:hover {
  position: relative;
  transform: translateY(-89%);
  transition: transform 10s ease-in-out 0s;
}
.smooth .Expo:hover {
  position: relative;
  transform: translateY(-89%);
  transition: transform 10s ease-in-out 0s;
}
.smooth .yt:hover {
  position: relative;
  transform: translateY(-58%);
  transition: transform 10s ease-in-out 0s;
}
.smooth .portfolio:hover {
  position: relative;
  transform: translateY(-63%);
  transition: transform 10s ease-in-out 0s;
}

.myntra {
  position: relative;
  transform: translateY(0%);
  transition: transform 10s ease-in-out 0s;
}
.Expo {
  position: relative;
  transform: translateY(0%);
  transition: transform 10s ease-in-out 0s;
}

.kalam {
  position: relative;
  transform: translateY(0%);
  transition: transform 10s ease-in-out 0s;
}
.yt {
  position: relative;
  transform: translateY(0%);
  transition: transform 10s ease-in-out 0s;
}
.portfolio {
  position: relative;
  transform: translateY(0%);
  transition: transform 10s ease-in-out 0s;
}

.robot {
  position: relative;
  transform: translateY(0%);
  transition: transform 10s ease-in-out 0s;

}
.download{
  transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
  cursor: pointer;
}
.bg-remove{
      mix-blend-mode: difference;

}

/* .font2 {
  font-family: "Island Moments", cursive !important;

} */
.main {
  display: none;
  background: url(./assets/bg_c1.png) ; 
 background-size: cover;
  background-position: bottom;
  height: 100vh;
}
.circle{
  display: none !important;
}

.bgleft {
  background: linear-gradient(90deg, #ffffff00 0%, #ffffff80 100%);
  width: 100px;
  height: 2px;
}

.bgright {
  background: linear-gradient(90deg, #ffffff80 0%, #ffffff00 100%);
  width: 100px;
  height: 2px;
}

.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);

}

.img1 {
  box-shadow: 0 0 10px rgba(0, 0, 0, .09);
  transition: cubic-bezier(0.19, 1, 0.22, 1)1s;

}

.image-flex>div {
  cursor: pointer;
}

.image-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 14px;
  border-radius: 50%;
  transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
}

.img_box {
  transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
  border-radius: 50%;

}

.image-flex .img_box:nth-child(1):hover {
  scale: 1.2;
  background-color: #fff;
  box-shadow: 0 0 42px 0px #f35e1e;
}

.image-flex .img_box:nth-child(2):hover {
  scale: 1.2;
  background-color: #fff;
  box-shadow: 0 0 42px 0px #1572B6;

}

.image-flex .img_box:nth-child(3):hover {
  scale: 1.2;
  background-color: #fff;
  box-shadow: 0 0 42px 0px #F7DF1E;

}

.image-flex .img_box:nth-child(4):hover {
  scale: 1.2;
  background-color: #fff;
  box-shadow: 0 0 42px 0px #7D11FA;

}

.image-flex .img_box:nth-child(5):hover {
  scale: 1.2;
  background-color: #fff;
  box-shadow: 0 0 42px 0px #30BBF8aa;

}

.image-flex .img_box:nth-child(6):hover {
  scale: 1.2;
  background-color: #fff;
  box-shadow: 0 0 42px 0px #61fb99aa;
}
.crsr{
    border: 1px solid gray;

}

.image-flex .img_box:nth-child(7):hover {
  scale: 1.2;
  background-color: #fff;
  box-shadow: 0 0 42px 0px #61dafbaa;

}

.image-flex .img_box:nth-child(8):hover {
  scale: 1.2;
  background-color: #fff;
  box-shadow: 0 0 42px 0px #007FFF;

}

.image-flex .img_box:nth-child(9):hover {
  scale: 1.2;
  background-color: #fff;
  box-shadow: 0 0 42px 0px #8a8a8a;

}


body {
  width: 100%;
  height: 100%;
  font-family: Poppins, sans-serif;
  background-color: black;
  color: #fff;
  /* overflow-x: hidden;
  overflow-y: hidden; */
}



.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.icon svg{
  width: 20px;
  height: 20px;
}
.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}


.shadow_nav {
        /* background: rgb(56 56 56 / 17%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.2px);
    -webkit-backdrop-filter: blur(13.2px);
    border: 1px solid #1c1b1ba6; */
        background: rgb(0 0 0 / 76%);
    box-shadow: 0 4px 30px rgb(0 0 0 / 0%);
    backdrop-filter: blur(68.2px);
    -webkit-backdrop-filter: blur(13.2px);
    border: 1px solid #1c1b1ba6;
}

.logo {
  letter-spacing: 1px;
}